/*!
 * Таблица стилей
 */

// Блок с статистикой
.site-analytics {

  // Стили поля год
  #analyticsform-year {
    width: 60px;
  }

  #analytics-form {

    // Блок с подгружаемым контентом
    &-content {
      margin: auto;
      height: 30vh;

      .analytics-form {

        // Блок с стартовым фоном
        &-bg {
          height: 100%;
          margin: 0 auto;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(/img/graphics.png);
        }

        // Блок с загрузчиком
        &-loader {
          height: 100%;
          margin: auto;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(/img/loader.gif);
        }
      }
    }
  }

  // Активация блока
  .analytics-form-content-active {
    height: auto !important;
  }
}
