/*!
 * Таблица стилей
 */
.site-analytics #analyticsform-year {
  width: 60px;
}
.site-analytics #analytics-form-content {
  margin: auto;
  height: 30vh;
}
.site-analytics #analytics-form-content .analytics-form-bg {
  height: 100%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/img/graphics.png);
}
.site-analytics #analytics-form-content .analytics-form-loader {
  height: 100%;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/img/loader.gif);
}
.site-analytics .analytics-form-content-active {
  height: auto !important;
}
